{% extends "base.html" %}

{% block title %}Edycja planu{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Edytuj plan
        </div>
        <div class="card-body">
             {% crispy form %}
        </div>
    </div>
</div>
<hr>
<a href="{%url 'front:plan_delete' object.id%}">Usuń plan</a>
<hr>
<hr>
<p>Reguły: <a href="{%url 'front:regula_create'%}">Dodaj nową</a> </p>
{%for regula in reguly%}
<p><a href="{% url 'front:regula_update' regula.id%}">{{regula.nazwa}}</a> </p>
{%endfor%}

<p>Pracownicy: <a href="{%url 'front:pracownik_create' object.id%}">Dodaj nowego</a> </p>
{%for pracownik in pracownicy%}
<p><a href="{% url 'front:pracownik_detail' pracownik.id%}">{{pracownik.nazwisko}}  {{pracownik.imie}}</a> </p>
{%endfor%}




{%endblock%}
